<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Icarus Flight</name>

<description>
A Icarus Application
</description>

<author href="https://www.seicotechnology.com.com" email="you@example.com">
Seico Technology
</author>

</widget>
