@charset "utf-8";
/* Medios fluidos sencillos
   Nota: Los medios fluidos exigen la eliminación de los atributos de altura y anchura de los medios del código HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 no admite max-width (anchura máxima), por lo que usa de manera predeterminada una anchura del 100% */
.ie6 img {
	width:100%;
}

/*
	Propiedades de cuadrícula fluida de Dreamweaver
	----------------------------------
	dw-num-cols-mobile:		6;
	dw-num-cols-tablet:		10;
	dw-num-cols-desktop:	20;
	dw-gutter-percentage:	25;
	
	Inspiración obtenida de "Responsive Web Design" de Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	y Golden Grid System de Joni Korpi
	http://goldengridsystem.com/
*/

/* Diseño móvil: 480 px e inferior. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.9666%;
	padding-left: 1.5166%;
	padding-right: 1.5166%;
}
#LayoutDiv1 {
	clear: none;
	float: left;
	margin-left: 3.4482%;
	width: 100%;
	display: block;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#contentmen {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#divlogo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 31.0344%;
	display: block;
}
#menu {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#mainmenubt {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#imgnewf {
	clear: both;
	float: left;
	margin-left: 0;
	width: 13.7931%;
	display: block;
}
#listnewf {
	clear: none;
	float: left;
	margin-left: 3.4482%;
	width: 82.7586%;
	display: block;
}
#imgofl {
	clear: both;
	float: left;
	margin-left: 0;
	width: 13.7931%;
	display: block;
}
#buttofl {
	clear: none;
	float: left;
	margin-left: 3.4482%;
	width: 82.7586%;
	display: block;
}
#imgsync {
	clear: none;
	float: left;
	margin-left: 3.4482%;
	width: 100%;
	display: block;
}
#buttsync {
	clear: none;
	float: left;
	margin-left: 3.4482%;
	width: 100%;
	display: block;
}
#settings {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Resources {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Reports {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#indeximage {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#divlogin {
	clear: both;
	float: left;
	margin-left: 17.2413%;
	width: 48.2758%;
	display: block;
}
#divlogi {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

/* Diseño tableta: de 481 px a 768 px. Hereda estilos de: Diseño móvil. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 91.14%;
	padding-left: 0.93%;
	padding-right: 0.93%;
}
#LayoutDiv1 {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 100%;
	display: block;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#contentmen {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#divlogo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 18.3673%;
	display: block;
}
#menu {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#mainmenubt {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.9795%;
	display: block;
}
#imgnewf {
	clear: both;
	float: left;
	margin-left: 0;
	width: 18.3673%;
	display: block;
}
#listnewf {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 28.5714%;
	display: block;
}
#imgofl {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 18.3673%;
	display: block;
}
#buttofl {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 28.5714%;
	display: block;
}
#imgsync {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 100%;
	display: block;
}
#buttsync {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 100%;
	display: block;
}
#settings {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 48.9795%;
	display: block;
}
#Resources {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.9795%;
	display: block;
}
#Reports {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 48.9795%;
	display: block;
}
#indeximage {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#divlogin {
	clear: both;
	float: left;
	margin-left: 30.6122%;
	width: 38.7755%;
	display: block;
}
#divlogi {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Diseño escritorio: de 769 px hasta un máximo de 1232 px.  Hereda estilos de: Diseño móvil y Diseño tableta. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 89.1%;
	max-width: 1232px;
	padding-left: 0.45%;
	padding-right: 0.45%;
	margin: auto;
}
#LayoutDiv1 {
	clear: none;
	float: left;
	margin-left: 1.0101%;
	width: 100%;
	display: block;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#contentmen {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#divlogo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#menu {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#mainmenubt {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#imgnewf {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#listnewf {
	clear: none;
	float: left;
	margin-left: 1.0101%;
	width: 100%;
	display: block;
}
#imgofl {
	clear: none;
	float: left;
	margin-left: 1.0101%;
	width: 100%;
	display: block;
}
#buttofl {
	clear: none;
	float: left;
	margin-left: 1.0101%;
	width: 100%;
	display: block;
}
#imgsync {
	clear: none;
	float: left;
	margin-left: 1.0101%;
	width: 100%;
	display: block;
}
#buttsync {
	clear: none;
	float: left;
	margin-left: 1.0101%;
	width: 100%;
	display: block;
}
#settings {
	clear: none;
	float: left;
	margin-left: 1.0101%;
	width: 100%;
	display: block;
}
#Resources {
	clear: none;
	float: left;
	margin-left: 1.0101%;
	width: 100%;
	display: block;
}
#Reports {
	clear: none;
	float: left;
	margin-left: 1.0101%;
	width: 100%;
	display: block;
}
#indeximage {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#divlogin {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#divlogi {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}